//variables definition for colors
$primary-color: #77db34;
$secondary-color: #e74c3c;
$third-color: #f1c40f;
$fourth-color: #fff;

//font-size and family
$font-size: 16px;
$font-family: Arial, sans-serif;